@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300&display=swap");

html {
  font-size: 16px;
  font-family: "Newsreader", serif;
}

body {
    width: 90%;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      align-content: center;
    }

    .navbar {
        flex-direction: column;
        align-content: center;
      }
  }
  /* @media is used in media queries to apply different styles in different conditions. Media queries can be used to check: width and height of viewport, width and height of device, orientation of device, and resolution.*/
  /* This @media rule will change "flex-container" to a column when viewport < "max-width"*/

.date {
  text-align: left;
  margin: 10px 0 0 0;
}

.navbar {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: right;
}

.navbar a {
    text-align: center;
    width: auto;
    padding: 10px;
    font-size: 25px;
}

.navbar a:hover {
    -webkit-filter: opacity(50%);
    cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: auto;
}

.haiku {
    text-align: center;
    
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  color:black;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 5px 0;
  font-size: 30px;
}

.portraitfigure {
    float: left;
    /* width: 400px; */
    width: 300px;
    margin: 0 10px 0 0;
  }
  
  .portraitimage {
    width: 100%;
    margin: 0;
  }

body {
  margin: 0 auto; /*When you set two values on a property like margin or padding, the first value affects the element's top and bottom side (setting it to 0 in this case); the second value affects the left and right side. (Here, auto is a special value that divides the available horizontal space evenly between left and right)/
      /* background-image: url("images/akitsushima.jpeg"); */
  background-color: white;
  padding: 0 20px 20px 20px;
  text-align: justify;
  text-justify: inter-word;
}


figure {
  margin: 0;
}

.smlinks {
    margin: 20px 0 0 0;
}

.sml {
  line-height: 0;
  margin: 10px 0;
}

.social-media-logos {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.social-media-logos:hover {
    -webkit-filter: opacity(50%);
}
/*sets images with "social-media-logos" class to a set gheight width and padding */
